nav{
	width: 100%;
	margin: 0 auto;	
	position: fixed;
	
	padding-bottom: 0px;
}

nav ul{
	list-style-type: none;
}

nav ul::after{
	content: " ";
	display: table;
	clear: both;
}

nav li {
	float: left;
	width: 25%;
	text-align: center;
}

nav a{
	display: block;
	text-decoration: none;
	color: black;
	border-bottom: 2px solid transparent;
	padding: 10px 0px;
}
	
nav a:hover{
	color: blue;
	border-bottom: 2px solid transparent;
}

#navlinks{
    float: left;
   	background-color: #999999;
	width: 200px;
	height:700px;
	top: 40px;
	position: fixed;
}

.nav_links_ul::after{
	content: " ";
	display: table;
	clear: both;
}

.nav_links_li{
	float: left;
	width: 100%;
	text-align: left;
	margin-left: 20px;
	margin: 20px;
}

.nav_links{
	display: block;
	text-decoration: none;
	color: black;
	border-bottom: 2px solid transparent;
	padding: 10px 0px;
}

.nav_links:hover{
	color: black;
	border-bottom: 0px solid gold;
}
